h1{text-align: center
    ;
    font-style: italic ;
    font-weight: bold

background-color: brown;}
text-align: center;
font-weight: bold;
font-style: italic;
.colonne{display: flex;
        gap: 30px;}
        .colonne>div{flex: 1;}
         .colonne{display: flex;
        gap: 30px;}
        .colonne>div{flex: 1;}
.mpanoratra{
    text-align: right}
.colonne{display: flex;
    gap: 30px;
padding: 0px;
margin: 20px;
text-align: justify;
font-size: large;}


.colonne div{
rgb(70, 119, 184);
}
.panoratra{
    text-align:right ;
font-style: italic;
   

} 
